<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleafexamples - Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:replace="index::logout"></div>
        <h1>Thymeleafexamples - Spring Security</h1>
        <p>This is the <b>user</b> zone</p>
        <p>Only authenticated users with role <b>USER</b> are allowed to see this page.</p>
        <p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>
    </body>
</html>