<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8"/>
    <title>FundMe</title>
</head>
<body>
<h1>List of Users</h1>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody th:each="user : ${list}">
    <tr>
        <td th:text="${user.id}">Full User Name</td>
        <td th:text="${user.firstName}">Full User Name</td>
        <td th:text="${user.lastName}">Full User Name</td>
        <td th:text="${user.passwd}">Full User Name</td>
    </tr>
    </tbody>
</table>

</body>
</html>