<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Project</title>
</head>
<body>
    <a th:href="@{/home}">
        <button type="submit" th:text="#{label.homeButton}">HOME</button>
    </a>
    &nbsp;&nbsp;
    <span th:switch="${loginValue}">

        <a  th:case="false" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
        <a  th:case="true" th:href="@{/logout}">
            <button type="submit" th:text="#{label.logOut}">LOG OUT</button>
        </a>
        <a  th:case="*" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
    </span>
    <p></p>

    <!--/*@thymesVar id="projectForm" type="com.spring.root.form.ProjectForm"*/-->
    <form action="#" th:action="@{/add_project}" th:object="${projectForm}" method="post">

    <p><label th:text="#{label.projectName}">Project Name:</label></p>
    <p><input type="text" th:field="*{projectName}"/></p>
        <div th:if="${#fields.hasErrors('projectName')}" >
            <p class="alert alert-danger" th:text="${#fields.errors('projectName')[0]}"></p>
        </div>

    <p><label th:text="#{label.projectDescription}">Project Description:</label></p>
    <p><input type="text" th:field="*{description}"/></p>

    <p th:text="#{label.videoTip}">Embed Video Link (In embedded link, set allowfullscreen="allowFullScreen")</p>
    <p><input type="text" th:field="*{embededVideo}"/></p>

    <p><label th:text="#{label.projectGoal}">Project Goal Amount:</label></p>
    <p><input type="number" th:field="*{goalAmount}"/></p>

    <p><label th:text="#{label.endDate}">End Date:</label></p>
    <p><input type="date" th:field="*{endDate}"/></p>

    <p><button type="submit" th:text="#{label.submit}">Submit</button>
        <button type="reset" th:text="#{label.reset}">Reset</button></p>
</form>

</body>
</html>