<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cancel Project</title>
</head>
<body>

<h2 th:text="#{label.checkCancel}">Are you sure you want to cancel Project</h2>
<h1 th:text="${project.projectName}"></h1>

<a th:href="@{/cancel_project/} + ${project.projectID} + @{/yes}">
    <button type="submit" th:text="#{label.yes}">Yes</button>
</a>
<a th:href="@{/cancel_project/} + ${project.projectID} + @{/no}">
    <button type="submit" th:text="#{label.no}">No</button>
</a>

</body>
</html>