<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Close Projects</title>
</head>
<body>
<h1>Close all finished projects?</h1>

<a th:href="@{/close_finished_projects}">
    <button type="submit" th:text="#{label.yes}">Yes</button>
</a>

<a th:href="@{/home}">
    <button type="submit" th:text="#{label.no}">No</button>
</a>

</body>
</html>