<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Project</title>
</head>
<body>
<a th:href="@{/home}">
    <button type="submit" th:text="#{label.homeButton}">HOME</button>
</a>
&nbsp;&nbsp;
<span th:switch="${loginValue}">

    <a  th:case="false" th:href="@{/login}">
        <button type="submit" th:text="#{label.logIn}">LOG IN</button>
    </a>
    <a  th:case="true" th:href="@{/logout}">
        <button type="submit" th:text="#{label.logOut}">LOG OUT</button>
    </a>
    <a  th:case="*" th:href="@{/login}">
        <button type="submit" th:text="#{label.logIn}">LOG IN</button>
    </a>
</span>
<p></p>

<!--/*@thymesVar id="editProjectForm" type="com.spring.root.form.EditProjectForm"*/-->
<form action="#" th:action="@{/continue_edit/} + ${project.projectID}" th:object="${editProjectForm}" method="post">

    <h3 th:text="#{label.projectName}">Project Name:</h3>
    <div th:text="${project.projectName}"/>


    <h3 th:text="#{label.projectDescription}">Project Description:</h3>
    <div><input type="text" th:field="*{description}" th:placeholder="${project.description}" style="width: 600px; height: 30px" /></div>


    <h3 th:text="#{label.projectGoal}">Project Goal Amount:</h3>
    <div th:text="${project.goalAmount}" />


    <h3 th:text="#{label.endDate}">End Date:</h3>
    <div th:text="${date}"/> <!-- CONVERT IN CONTROLLER-->


    <p><button type="submit" th:text="#{label.submit}">Submit</button>
        <button type="reset" th:text="#{label.reset}">Reset</button></p>
</form>

</body>
</html>