<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <style>

        table{
            border: 1px solid black;
            table-layout: fixed;
            width: 150px;
        }

        th, td {
            border: 1px solid black;

            width: 100px;
        }
        .wide {
            width: 300px;
        }
        .video{
            width: 565px;
        }
    </style>
    <meta charset="UTF-8"/>
    <title>FundMe</title>
</head>
<body>
    <h1>FundMe</h1>

    <p>
        <a href="/?lang=pl">Polish</a> | <a href="/?lang=en">English</a>
    </p>

    <a th:href="@{/home}">
        <button type="submit" th:text="#{label.homeButton}">HOME</button>
    </a>
    &nbsp;&nbsp;
    <span th:switch="${loginValue}">

        <a  th:case="false" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
        <a  th:case="true" th:href="@{/logout}">
            <button type="submit" th:text="#{label.logOut}">LOG OUT</button>
        </a>
        <a  th:case="*" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
    </span>
    <p></p>
    <table>
        <thead>
            <tr>
                <th th:text="#{label.projectName}">Project Name</th>
                <th class="wide" th:text="#{label.projectDescription}">Description</th>
                <th class="video" th:text="#{label.video}">Video Link</th>
                <th th:text="#{label.projectGoal}">Goal</th>
                <th th:text="#{label.amountPledged}">Amount Pledged</th>
                <th th:text="#{label.endDate}">End Date</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projectList}">
                <dd th:if="${project.isValid} == true">
                    <td th:text="${project.projectName}"></td>
                    <td th:text="${project.description}"></td>
                    <td th:utext="${project.embededVideo}"></td>
                    <td th:text="${project.goalAmount}"></td>
                    <td th:text="${project.amountPledged}"></td>
                    <td th:text="${project.endDate}"></td>
                    <td>
                        <a th:href="@{/view_project/} + ${project.projectID}">
                            <button type="submit" th:text="#{label.viewProject}">View Project</button>
                        </a>
                    </td>
                </dd>
            </tr>
        </tbody>
    </table>
    <p></p>
    <a th:href="@{/add_project}">
        <button type="submit" th:text="#{label.addProject}">Add Project</button>
    </a>
</body>
</html>