<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>

<a th:href="@{/home}">
    <button type="submit" th:text="#{label.homeButton}">HOME</button>
</a>
&nbsp;&nbsp;
<span th:switch="${loginValue}">

        <a  th:case="false" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
        <a  th:case="true" th:href="@{/logout}">
            <button type="submit" th:text="#{label.logOut}">LOG OUT</button>
        </a>
        <a  th:case="*" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
    </span>
<p></p>



<body>
<!--/*@thymesVar id="loginForm" type="com.spring.root.form.LoginForm"*/-->
<form action="#" th:action="@{/login}" th:object="${loginForm}" method="POST">
    <div th:if="${#fields.hasErrors()}">
        <p class="alert alert-danger" th:text="#{label.wrongflp}"> Invalid First Name, Last Name or Password</p>
    </div>
    <p><label for="firstname" th:text="#{label.firstName}">First name:</label>
        <input type="text"  th:field="*{firstName}" id="firstname" name="firstname"/></p>

    <p><label for="lastname" th:text="#{label.lastName}">Last name:</label>
        <input type="text" th:field="*{lastName}" id="lastname" name="lastname"/></p>

    <p><label for="password" th:text="#{label.password}">Password</label>
        <input type="password" th:field="*{passwd}" id="password" name="password"/></p>

    <p><button type="submit" th:text="#{label.submit}">Submit</button>
        <button type="reset" th:text="#{label.reset}">Reset</button></p>



</form>


</body>



</html>