<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Make Pledge</title>
</head>
<body>
    <h1 th:text="#{label.makePledge}">Make Pledge</h1>
    <a th:href="@{/home}">
        <button type="submit" th:text="#{label.homeButton}">HOME</button>
    </a>
    &nbsp;&nbsp;
    <span th:switch="${loginValue}">

        <a  th:case="false" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
        <a  th:case="true" th:href="@{/logout}">
            <button type="submit" th:text="#{label.logOut}">LOG OUT</button>
        </a>
        <a  th:case="*" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
    </span>
    <p></p>

    <h2 th:text="#{label.pledgeTo}">Make Pledge To:</h2>
    <h1 th:text="${project.projectName}"/>

    <!--/*@thymesVar id="pledgeForm" type="com.spring.root.form.PledgeForm"*/-->
    <form action="#" th:action="@{/make_project_pledge/} + ${project.projectID}" th:object="${pledgeForm}" method="post">


        <p><label th:text="#{label.pledgeAmount}">Pledge Amount:</label></p>
        <p>
            <input type="text" th:field="*{amount}"/>
        </p>
        <div th:if="${#fields.hasErrors('amount')}" >
            <p class="alert alert-danger" th:text="${#fields.errors('amount')[0]}"></p>
        </div>
        <p><button type="submit" th:text="#{label.submit}">Submit</button>
            <button type="reset" th:text="#{label.reset}">Reset</button></p>
    </form>
</body>
</html>