<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8"/>
    <title>Project</title>
</head>
<body>
<!--/*@thymesVar id="cancelPledge" type="com.spring.root.form.CancelPledge"*/-->

<a th:href="@{/home}">
    <button type="submit" th:text="#{label.homeButton}">HOME</button>
</a>
&nbsp;&nbsp;
<span th:switch="${loginValue}">

        <a  th:case="false" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
        <a  th:case="true" th:href="@{/logout}">
            <button type="submit" th:text="#{label.logOut}">LOG OUT</button>
        </a>
        <a  th:case="*" th:href="@{/login}">
            <button type="submit" th:text="#{label.logIn}">LOG IN</button>
        </a>
</span>
<p></p>



<h1 th:text="#{label.projectName}">Project Name</h1>
<p><dd th:text="${project.projectName}"></dd></p>

<h2 th:text="#{label.projectDescription}">Description</h2>
<p><dd th:text="${project.description}"></dd></p>

<h2>Video</h2>
<p><dd th:utext="${project.embededVideo}"></dd></p>

<h2 th:text="#{label.projectGoal}">Goal Amount</h2>
<p><dd th:text="${project.goalAmount}"></dd></p>

<h2 th:text="#{label.amountPledged}">Amount Pledged</h2>
<p><dd th:text="${project.amountPledged}"></dd></p>

<h2 th:text="#{label.endDate}">End Date</h2>
<p><dd th:text="${project.endDate}"></dd></p>

<h3 th:text="#{label.createdBy}">Created By</h3>
<p><dd th:text="${userName}"></dd></p>


<p></p>

<h2 th:text="#{label.pledge}">Pledges</h2>
<table>
    <thead>
    <tr>
        <th th:text="#{label.userId}">User ID</th>
        <th th:text="#{label.createdBy}">Amount</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="pledge : ${pledges}">
        <td th:text="${pledge.userID}"></td>
        <td th:text="${pledge.amount}"></td>
        <td th:if="${user!= null and pledge.userID == user.id}">
            <a th:href="@{/cancel_pledge/} + ${pledge.pledgeID}">
                <button type="submit" th:text="#{label.cancelPledge}" >Cancel Pledge</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>


<a th:href="@{/make_pledge/} + ${project.projectID}">
    <button type="submit" th:text="#{label.makePledge}">Make Pledge</button>
</a>
<p></p>
<div th:if="${user!=null}">
    <div th:if="${project.userID == user.id}">
        <a th:href="@{/cancel_project/} + ${project.projectID}">
            <button type="submit" th:text="#{label.cancelProject}">Cancel Project</button>
        </a>
    </div>
</div>

<div th:if="${user!=null}">
    <div th:if="${project.userID == user.id}">
        <a th:href="@{/edit_project/} + ${project.projectID}">
            <button type="submit" th:text="#{label.editProject}">Edit Project</button>
        </a>
    </div>
</div>

</body>
</html>